---
---

@charset "utf-8";

// fonts
// @import "theme/freight_sans_pro";
@import "theme/variables";
@import "bootstrap/responsive-embed";


/* Small devices (tablets, 768px and up) */
// @media (min-width: $screen-sm-min) {  }

/* Medium devices (desktops, 992px and up) */
// @media (min-width: $screen-md-min) {  }

/* Large devices (large desktops, 1200px and up) */
// @media (min-width: $screen-lg-min) {  }

body {
	background-color: $body-bg;
	// font-size: $font-size-base;
}

.btn:not(.btn-secondary):not(.btn-default)  {
	color: #fff !important;
	&:hover {
		color: #fff !important;
	}
}

.lead {
  margin-bottom: $line-height-computed;
  font-size: floor(($font-size-base * 1.15));
  font-weight: 300;
  line-height: 1.4;

  @media (min-width: $screen-sm-min) {
    font-size: ($font-size-base * 1.5);
  }
}

.hc-main-text-header {
	padding: 0;
}

.hc-main-text {
	padding: 0 !important;
	@extend .lead;
}

.hc-main-text-content {
	font-size: $font-size-base;
	line-height: 1.5;
	margin-bottom: 1.5em;

	/* headings */
	h1, h2, h3, h4, h5, h6,
	.h1, .h2, .h3, .h4, .h5, .h6 {
		font-family: $headings-font-family;
		font-weight: 600;
		line-height: $headings-line-height;
		color: #000;

		text-transform: none;

		small,
		.small {
			font-weight: normal;
			line-height: 1;
			color: $headings-small-color;
		}
	}

	h1, .h1,
	h2, .h2,
	h3, .h3 {
		margin-top: $line-height-computed;
		margin-bottom: ($line-height-computed / 2);

		small,
		.small {
			font-size: 80%;
		}
	}
	h4, .h4,
	h5, .h5,
	h6, .h6 {
		margin-top: ($line-height-computed / 2);
		margin-bottom: ($line-height-computed / 2);

		small,
		.small {
			font-size: 75%;
		}
	}

	h1, .h1 { font-size: ceil($font-size-h1 * 0.75); }
	h2, .h2 { font-size: ceil($font-size-h2 * 0.75); }
	h3, .h3 { font-size: 21px; }
	h4, .h4 { font-size: 18px; }
	h5, .h5 { font-size: $font-size-base; }
	h6, .h6 { font-size: 14px; }

}

.hc-dual-tab-content {
	padding-top: 0;
}

.table-condensed {
	color: #333;
}

#map-overlays {
	position: inherit;
}

.hc-related-news-events-section-title {
	padding: 0 15px;
}

.hc-htv-channel-list ul li {
	font-size: inherit;
}

.hc-apply-category-link {
	font-size: 16px;
}

.hc-green-header.bg-image-center-fill {
	.hc-green-header-desc {
		color: #fff;
		text-shadow: 2px 2px 1px #000;
	}
}
