---
---

@charset "utf-8";

// fonts
@import "theme/freight_sans_pro";

// @import "bootswatch/lumen/variables";
@import "theme/_variables";
@import "bootstrap";
// @import "bootswatch/lumen/bootswatch";

$hc-htv-roof-cam-bg: "{{ '/images/tampa-skyline.png' | prepend: site.baseurl }}";

@import "theme";

@import "hc-map-leaflet.min.css";

#hc-home-header {
	background-image: url("{{ '/images/news-website-anim.gif' | prepend: site.baseurl }}");
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&0.85+0,0.35+40,0+100 */
	background: -moz-linear-gradient(left,  rgba(0,0,0,0.85) 0%, rgba(0,0,0,0.35) 40%, rgba(0,0,0,0) 100%), url("{{ '/images/news-website-anim.gif' | prepend: site.baseurl }}"); /* FF3.6-15 */
	background: -webkit-linear-gradient(left,  rgba(0,0,0,0.85) 0%,rgba(0,0,0,0.35) 40%,rgba(0,0,0,0) 100%), url("{{ '/images/news-website-anim.gif' | prepend: site.baseurl }}"); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right,  rgba(0,0,0,0.85) 0%,rgba(0,0,0,0.35) 40%,rgba(0,0,0,0) 100%), url("{{ '/images/news-website-anim.gif' | prepend: site.baseurl }}"); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b3000000', endColorstr='#00000000',GradientType=1 ); /* IE6-9 */
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
}

#hc-newsroom-banner {
	background-image: url("{{ '/images/studio.jpg' | prepend: site.baseurl }}");
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&0.85+0,0.35+40,0+100 */
	background: -moz-linear-gradient(left,  rgba(0,0,0,0.85) 0%, rgba(0,0,0,0.35) 40%, rgba(0,0,0,0) 100%), url("{{ '/images/studio.jpg' | prepend: site.baseurl }}"); /* FF3.6-15 */
	background: -webkit-linear-gradient(left,  rgba(0,0,0,0.85) 0%,rgba(0,0,0,0.35) 40%,rgba(0,0,0,0) 100%), url("{{ '/images/studio.jpg' | prepend: site.baseurl }}"); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right,  rgba(0,0,0,0.85) 0%,rgba(0,0,0,0.35) 40%,rgba(0,0,0,0) 100%), url("{{ '/images/studio.jpg' | prepend: site.baseurl }}"); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b3000000', endColorstr='#00000000',GradientType=1 ); /* IE6-9 */
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
}

#htv-comp {
	// background-image: url("{{ '/images/studio.jpg' | prepend: site.baseurl }}");
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,78ccd2+50,78ccd2+100&0+51,1+52,1+100 */
	background: -moz-linear-gradient(left,  rgba(255,255,255,0) 0%, rgba(120,204,210,0) 50%, rgba(120,204,210,0) 51%, rgba(120,204,210,1) 52%, rgba(120,204,210,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(left,  rgba(255,255,255,0) 0%,rgba(120,204,210,0) 50%,rgba(120,204,210,0) 51%,rgba(120,204,210,1) 52%,rgba(120,204,210,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right,  rgba(255,255,255,0) 0%,rgba(120,204,210,0) 50%,rgba(120,204,210,0) 51%,rgba(120,204,210,1) 52%,rgba(120,204,210,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#78ccd2',GradientType=1 ); /* IE6-9 */
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
}
