<table class="table table-striped">
	<thead>
		<tr>
			<th>Street</th>
			<th>From/To</th>
			<th>Closed/Open</th>
			<th>Reason</th>
		</tr>
	</thead>

	<tbody>
		<%
		_.each(layers, function(layer, key){
			%>
			<tr>

				<td>
					<%= layer.feature.properties.STREET %>
				</td>
				<td>
					<%= layer.feature.properties.FROM_STREET %>
					-
					<%= layer.feature.properties.TO_STREET %>
				</td>
				<td>
					<%= new Date(layer.feature.properties.Date_Closed).toDateString() %>
					-
					<%= new Date(layer.feature.properties.Date_Opened).toDateString() %>
				</td>
				<td>
					<%= layer.feature.properties.REASON %>
				</td>

			</tr>
			<%
		});
		%>
	</tbody>

</table>
