<% has_url = properties.Project_URL != null && properties.Project_URL != '' %>

<h4 class="popover-title">{Project_Name}</h4>
<div class="popover-content">
	<p>
		{Project_Description}
	</p>
	<p class="small">
		<strong>Timeline:</strong><br>
		{Construction_Start_Date} to {Construction_End_Date}
	</p>

	<% if (has_url) { %>
		<% urlObj = new UrlParser(properties.Project_URL) %>
		<p>
			<a href="<%= urlObj.fullPath %>" class="btn btn-primary-inverse btn-xs btn-block">Learn More</a>
		</p>
	<% } %>
</div>
