<% effectiveDate = new Date(properties.EFF_DATE).toDateString() %>

<h4 class="popover-title">FIRM Panel: {FIRM_PAN}</h4>
	<div class="popover-content">
		<p>
			Map is {PANEL_TYP}
		</p>
		<p>
			<a href="http://msc.fema.gov/portal/downloadProduct?productID={FIRM_PAN}" target="_blank">Download</a>
			a graphic of the map (available if map panel is printed)
		</p>
		<p>
			<a href="http://msc.fema.gov/portal/downloadProduct?productID=NFHL_{DFIRM_ID}" target="_blank">Download</a>
			county GIS data
		</p>
		<p class="small">
			Effective <%= effectiveDate %>
		</p>
</div>
