<% directions_str = [properties.WEB_ADDRESS, properties.WEB_CITY, 'FL', properties.WEB_ZIP].join('+').replace(/[^0-9a-z]/gi, '+').replace(' ', '+') %>
<% has_web_url = false %>

<h4 class="popover-title">{WEB_NAME}</h4>
<div class="popover-content">
	<p>
		{WEB_ADDRESS}<br>
		{WEB_CITY}, FL {WEB_ZIP}<br>
		<a href="https://www.google.com/maps/dir//<%= directions_str %>" target="_blank" class="small pull-right">Directions</a>
	</p>
	<% if (properties.WEB_URL != null && properties.WEB_URL != '') { %>
	<p>
		<a href="{WEB_URL}" class="btn btn-primary-inverse btn-sm btn-block">Learn More</a>
	</p>
	<% } %>
</div>
