<% directions_str = [properties.WEB_ADDRESS, properties.WEB_CITY, 'FL', properties.WEB_ZIP].join('+').replace(/[^0-9a-z]/gi, '+').replace(' ', '+') %>
<% has_url = properties.WEB_URL != null && properties.WEB_URL != '' %>

<h4 class="popover-title">{WEB_NAME}</h4>
<div class="popover-content">
	<p>
		{WEB_ADDRESS}<br>
		{WEB_CITY}, FL {WEB_ZIP}<br>
		<a href="https://www.google.com/maps/dir//<%= directions_str %>" target="_blank" class="small pull-right">Directions</a>
	</p>
	<% if (has_url) { %>
		<% urlObj = new UrlParser(properties.WEB_URL) %>
		<p>
			<a href="<%= urlObj.fullPath %>" class="btn btn-primary-inverse btn-xs btn-block">Learn More</a>
		</p>
	<% } %>
</div>
