.btn {
	font-weight: bold;
}

.btn-uppercase {
	text-transform: uppercase;
}

.btn-primary {

	text-transform: uppercase;

	&:hover,
	&:focus,
	&.focus {
		color: #fff;
		background: $brand-primary-dark;
		border-color: $brand-primary-dark;
		text-decoration: none;
	}
}

.btn-secondary {
	text-transform: uppercase;

	@include button-variant($brand-primary, #fff, $brand-primary);
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary:active,
.btn-secondary.active {
	color: #fff;
	background-color: $brand-primary-dark;
	border-color: $brand-primary-dark;
}

// @mixin button-line-variant($lines) {
// 	position: relative;
// 	white-space: normal !important;
// 	> span {
// 		position: absolute;
// 		width: 100%;
// 		padding: inherit;
// 		top: 50%;
// 		left: 50%;
// 		transform: translateX(-50%) translateY(-50%);
// 		-ms-transform: translateX(-50%) translateY(-50%);
// 		-webkit-transform: translateX(-50%) translateY(-50%);
// 	}
// }

.btn-2-line, .btn-3-line {
	position: relative;
	white-space: normal !important;
	> span {
		position: absolute;
		width: 100%;
		padding: inherit;
		top: 50%;
		left: 50%;
		transform: translateX(-50%) translateY(-50%);
		-ms-transform: translateX(-50%) translateY(-50%);
		-webkit-transform: translateX(-50%) translateY(-50%);
	}
}

.btn-2-line {
	height: 4em; /* (n*2) number of lines multiplied by 2 */
	@media (min-width: $screen-md-min) and (max-width: $screen-md-max) {
		font-size: 0.8em;
	}
}

.btn-3-line {
	height: 3em; /* (n*2) number of lines multiplied by 2 */
	@media (min-width: $screen-sm-min) { height: 6em; }
	@media (min-width: $screen-md-min) and (max-width: $screen-lg-min) {
		font-size: 1em;
	}
}
