#calendar-calendar-filters {

	.list-group-item {
		padding: 5px 10px;
		border-radius: 0;

		@media (min-width: $screen-sm-min) {
			width: 32%;
			display: inline-block;
			margin: 2px 0;
		}

		.event-cirlce {
			font-size: 0.75em;
		}

	}

}

.cal-month-day {
	background: #fff;
	cursor: pointer;
	&:hover {
		background: $gray-lighter;
	}
}

.cal-month-box, .cal-year-box, .cal-week-box {
	border: none !important;
}

.day-title {
	font-size: 1.4em;
	font-weight: bold;
	color: $brand-secondary;
	small {
		font-size: 65%;
		color: #777;
		font-weight: normal;
	}
}

.cal-day-today {
	background-color: rgba($brand-info, 0.2) !important;
}

#cal-slide-tick {
	border-left: 1.1em solid transparent;
	border-right: 1.1em solid transparent;
	border-bottom: 1.1em solid $brand-info;
	top: -1em !important;
	background: none !important;
}

.cal-day-outmonth {
	.day-title {
		color: rgba(#777, 0.3)
	}
}

// panels
.cal-event-list {
	margin: 1em -1px;
	border: solid 1px $brand-info;
	border-radius: none;
	background: none;
}

#calendar-panel {
	background: none;
	box-shadow: none;
	border: none;

	> .panel-body {
		padding-bottom: 0;
	}
}

// calendar event cards
.calendar-event-card {
	background: #fff;
	border: none;
	padding: 0;

	.caption {
		padding-bottom: 0;
	}

	.calendar-event-card-title {
		margin-top: 0;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}

	.calendar-event-card-details {
		@extend .small;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}
}
