$card-news-resting-height: 170px;
$card-news-hover-height: 225px;

.card {

	@extend .thumbnail;

	padding: 0;
	border: 0;
	border-radius: 0;
	background-color: #fff;

	.card-image {
		@include gradient-background-info;
	}

	.card-title {
		color: $brand-primary;
		font-weight: 600;
	}

	&:hover {
		.caption-slider {
			height: $card-news-hover-height;
		}
	}

	.caption {
		position: relative;
		height: $card-news-resting-height - 35;
		margin-bottom: 15px;

	}

	.caption-category {
		display: inline-block;
		padding: 5px 10px;
		color: #fff;
	}

	&.card-news {
		.caption-category {
			background: $brand-info;
			background: rgba($brand-info, .85);
		}
	}

	&.card-event {
		.caption-category {
			background: $brand-secondary;
			background: rgba($brand-secondary, .85);
		}
	}

	.caption-slider {
		overflow: hidden;

		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		height: $card-news-resting-height;

		-webkit-transition: height 500ms; /* For Safari 3.1 to 6.0 */
		transition: height 500ms;
	}

	.caption-body {
		background-color: #fff;
		padding: 5px 10px;
		margin-bottom: 10px;
		overflow: hidden;

		height: $card-news-resting-height - 20;
		-webkit-transition: height 500ms; /* For Safari 3.1 to 6.0 */
		transition: height 500ms;

	}

	footer {
		padding: 0 10px 5px;
		color: $gray-light;
	}

}
