.hc-rte {

	a:not(.btn) {
		color: $brand-primary;
		text-decoration: underline;
		&:hover { color: darken($brand-primary, 20%); }
	}

	img:not([align="left"]):not([align="right"]) {
		@extend .img-responsive;
		@extend .center-block;
		max-width: 80%;
	}

}
