// l3 actions

.hc-action-group {

}

.hc-action-categories:not(.col-sm-4) {
	@media (min-width: $screen-md-min) {
		-webkit-column-count: 2; /* Chrome, Safari, Opera */
		-moz-column-count: 2; /* Firefox */
		column-count: 2;
	}
	@media (min-width: $screen-md-max) {
		-webkit-column-count: 3; /* Chrome, Safari, Opera */
		-moz-column-count: 3; /* Firefox */
		column-count: 3;
	}
}

.hc-action-category {
	float: left;

	-webkit-column-break-inside: avoid; /* Chrome, Safari, Opera */
	page-break-inside: avoid; /* Firefox */
	break-inside: avoid; /* IE 10+ */

	> h4 {
		color: #000;
	}
}
