#hc-htv-promos {
	position: relative;
	&::before {
		@media (min-width: $screen-sm-min) {
			content: "";
			position: absolute;
			background-color: $brand-info;
			background-image: url($hc-htv-roof-cam-bg);
			background-position: center;
			background-size: cover;
			top: 0;
			left: 50%;
			height: 100%;
			width: 50%;
		}
	}
}

#hc-htv-roof-cam {
	padding: $grid-gutter-width;
	@media (max-width: $screen-xs-max) {
		background-color: $brand-info;
		background-image: url($hc-htv-roof-cam-bg);
		background-position: center;
		background-size: cover;
	}
}
