// @import "map/";
@import "https://api.mapbox.com/mapbox.js/plugins/leaflet-locatecontrol/v0.43.0/css/font-awesome.min.css";
@import "https://cdn.jsdelivr.net/leaflet/1.0.0-rc.1/leaflet.css";
@import "https://domoritz.github.io/leaflet-locatecontrol/dist/L.Control.Locate.min.css";

#map-container {
	position: relative;
	height: 350px;
}

#home-map { position: absolute; top:0; bottom:0; width:100%; }

#btn-map-overlays {
	position: absolute;
	top: 10px;
	right:10px;
	z-index: 500;
}
