#navDropdowns {
	.collapsing {
		-webkit-transition: none;
		transition: none;
	}
	> .panel {
		margin-bottom: 0;
		border: none;
		background: $body-bg !important;
	}
}

#hc-main-nav {
	position: relative;
	background: #fff;
	margin-bottom: 0;
}


#hc-main-nav-sections {

	> li > a {
		font-weight: bold;
		border-bottom: solid 3px transparent;
		&:hover { border-bottom: solid 3px $brand-info; }
	}

	a {
		color: $link-color;
		background: none;
		&:hover { color: $brand-info; }
	}

	position: static;

	.service-group-title {
		color: $brand-info;
		text-transform: uppercase;
	}
	.service-group-featured {
		color: $brand-primary;
	}

	> li {

		position: static;

		> .service-groups {
			display: none;
			position: absolute;
			width: 100%;
			left: 0;
			right: 0;
			background: $body-bg;
			z-index: 50;
			border-bottom: solid 3px $brand-info;
		}
		&:hover > .service-groups {
			display: block;
		}
	}
}

#service-sections {

	-webkit-column-count: 2; /* Chrome, Safari, Opera */
	-moz-column-count: 2; /* Firefox */
	column-count: 2;

	background: $body-bg;

	padding-bottom: 15px;

	.service-section {
		-webkit-column-break-inside: avoid; /* Chrome, Safari, Opera */
		page-break-inside: avoid; /* Firefox */
		break-inside: avoid; /* IE 10+ */
		border-bottom: 1px solid $brand-info;
	}

	&::after {
		content:'';
		width:100%;
		height: 15px;
		position:absolute;
		background-color:inherit;
		bottom:0;
		left:0;
	}
}
