<aside class="hc-card hc-card-event">

	<div class="hc-card-image embed-responsive embed-responsive-16by9">
		<a href="#">
			<img src="{{ '/images/news-pets.jpg' | prepend: site.baseurl }}" class="img-responsive center-block" />
		</a>
	</div>

	<div class="caption">
		<div class="caption-slider">

			<div class="caption-category small">
				<strong>
					Event
				</strong>
				<span class="text-primary">&bull;</span>
				Senior Centers
			</div>

			<div class="caption-body">

				<h4 class="hc-card-title">
					Lorem ipsum dolor sit amet
				</h4>

				<div class="row">
					<div class="col-xs-6">
						<a href="#" class="btn btn-default btn-md btn-block">
							<i class="fa fa-calendar"></i><br>
							Jan 9, 2016<br>
							8:00 AM
						</a>
					</div>
					<div class="col-xs-6">
						<a href="#" class="btn btn-default btn-md btn-block">
							<i class="fa fa-map-marker"></i><br>
							Brandon Senior<br>
							Center
						</a>
					</div>
				</div>

			</div>

			<p class="text-center">
				<a href="#" class="btn btn-secondary btn-md">Learn More</a>
			</p>

		</div>
	</div>

	<footer class="small">
		<a href="#">
			<i class="fa fa-fw fa-calendar"></i>
			View Full Calendar
		</a>
	</footer>

</aside>
