<aside class="hc-card hc-card-news">

	<div class="hc-card-image embed-responsive embed-responsive-16by9">
		<a href="{{ '/news/story/' | prepend: site.baseurl }}">
			<img src="{{ '/images/news-econ.jpg' | prepend: site.baseurl }}" class="img-responsive center-block" />
		</a>
	</div>

	<div class="caption">
		<div class="caption-slider">

			<div class="caption-category small">
				<strong>
					News
				</strong>
				Story
			</div>

			<div class="caption-body">

				<h4 class="hc-card-title">
					Economic Development Recieves "Deal of the Year" Award
				</h4>

				<p>
					Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
				</p>

			</div>

			<p class="text-center">
				<a href="{{ '/news/story/' | prepend: site.baseurl }}" class="btn btn-primary-inverse btn-md">Continue Reading</a>
			</p>

		</div>
	</div>

	<footer class="small">
		<strong>
			Posted
		</strong>
		June 12, 2016
	</footer>

</aside>
