<footer id="hc-footer">

	<section class="container">
		<!-- <script type="text/javascript" src="https://hcflgov.formstack.com/forms/js.php/page_helpful_local?referrer={{page.url | prepend: site.baseurl | prepend: site.url}}"></script><noscript><a href="https://hcflgov.formstack.com/forms/page_helpful_local?referrer={{page.url | prepend: site.baseurl | prepend: site.url}}" title="Online Form">Online Form - Was This Page Helpful?</a></noscript> -->
	</section>

	<section id="footer-main">
		<div class="container-fluid">
			<div class="row text-center">
				<div class="col-sm-4 col-sm-push-4">
					<p>
						<a href="#">Board of County Commissioners</a> |
						<a href="#">County Locations</a> |
						<a href="#">Jobs</a>
					</p>
				</div>
				<div class="col-sm-4 col-sm-push-4">
					<ul class="list-inline text-center">
						<li>
							<a href="https://www.facebook.com/HillsboroughFL/" target="_blank">
								<i class="fa fa-fw fa-facebook"></i>
							</a>
						</li>
						<li>
							<a href="https://twitter.com/HillsboroughFL" target="_blank">
								<i class="fa fa-fw fa-twitter"></i>
							</a>
						</li>
						<li>
							<a href="https://www.youtube.com/user/HillsboroughCounty" target="_blank">
								<i class="fa fa-fw fa-youtube"></i>
							</a>
						</li>
						<li>
							<a href="https://www.instagram.com/" target="_blank">
								<i class="fa fa-fw fa-instagram"></i>
							</a>
						</li>
						<li>
							<a href="http://www.linkedin.com/" target="_blank">
								<i class="fa fa-fw fa-linkedin"></i>
							</a>
						</li>
						<li>
							<a href="http://periscope.tv/" target="_blank">
								<i class="fa fa-fw fa-map-marker"></i>
							</a>
						</li>
					</ul>
				</div>
				<div class="col-sm-4 col-sm-pull-8">
					<p>
						<img src="{{ '/images/logo-footer.png' | prepend: site.baseurl }}" class="img-responsive center-block" />
					</p>
				</div>
			</div>

			<p class="text-center small">
				601 E Kennedy Blvd, Tampa, FL 33602
			</p>

		</div>
	</section>

</footer>

<!-- Include all compiled plugins (below), or include individual files as needed -->
{% for asset in site.data.assets.js %}
{% if asset.remote %}
<script src="{{asset.src}}"></script>
{% else %}
<script src="{{site.baseurl}}/js/{{asset.src}}"></script>
{% endif %}
{% endfor %}
