<div class="panel panel-default">
	<header class="panel-heading">
		<h4 class="panel-title text-upcase">
			Tagged
		</h4>
	</header>
	<div class="panel-body">
		<ul class="list-inline">
			<li><a href="#">Story</a></li>
			<li><a href="#">Animals</a></li>
			<li><a href="#">Pets</a></li>
			<li><a href="#">Lorem Ipsum</a></li>
		</ul>
	</div>
</div>

<div class="panel panel-default">
	<header class="panel-heading">
		<h4 class="panel-title text-upcase">
			Related Articles
		</h4>
	</header>
	<div class="panel-body">
		<ul class="list-unstyled">
			<li><a href="#">Lorem Ipsum</a></li>
			<li><a href="#">Lorem ipsum dolor sit amet</a></li>
			<li><a href="#">Lorem Ipsum</a></li>
			<li><a href="#">Lorem ipsum dolor sit amet</a></li>
		</ul>
	</div>
</div>

<div class="panel panel-default">
	<header class="panel-heading">
		<h4 class="panel-title text-upcase">
			Most Read
		</h4>
	</header>
	<div class="panel-body">
		<ul class="list-unstyled">
			<li><a href="#">Lorem Ipsum</a></li>
			<li><a href="#">Lorem ipsum dolor sit amet</a></li>
			<li><a href="#">Lorem Ipsum</a></li>
			<li><a href="#">Lorem ipsum dolor sit amet</a></li>
		</ul>
	</div>
</div>
