<ul id="hc-l3-left-nav" class="list-unstyled hidden-xs">
	<li><a href="{{ '/layouts/l3/' | prepend: site.baseurl }}">Economic Development</a></li>
	<li><a href="{{ '/layouts/l3/' | prepend: site.baseurl }}">Human Services</a></li>
	<li class="active">
		<a href="{{ '/layouts/l3/' | prepend: site.baseurl }}">Public Safety</a>
	</li>
	<li><a href="{{ '/layouts/l3/' | prepend: site.baseurl }}">Recreation</a></li>
	<li><a href="{{ '/layouts/l3/' | prepend: site.baseurl }}">Transportation</a></li>
</ul>
