<section class="panel panel-default">
	<header class="panel-heading text-center">
		<button class="btn btn-link pull-left calendar-nav" data-calendar-nav="prev">
			<i class="fa fa-chevron-left" aria-hidden="true"></i>
		</button>
		<button class="btn btn-link pull-right calendar-nav" data-calendar-nav="next">
			<i class="fa fa-chevron-right" aria-hidden="true"></i>
		</button>
		<h4 id="active-month">
			&nbsp;
		</h4>
	</header>
</section>

<h4>
	<i class="fa fa-fw fa-calendar"></i>
	Select Calendars
</h4>

<div id="calendar-calendar-filters-sidebar" class="list-group small" data-toggle="items">
	<a href="#" class="calendar-calendar-filter list-group-item" data-value="County Events">
		County Events
		<span class="event event-important pull-left"></span>
	</a>
	<a href="#" class="calendar-calendar-filter list-group-item" data-value="Commission Meetings">
		Commission Meetings
		<span class="event event-important pull-left"></span>
	</a>
	<a href="#" class="calendar-calendar-filter list-group-item" data-value="Parks and Recreation">
		Parks and Recreation
		<span class="event event-important pull-left"></span>
	</a>
	<a href="#" class="calendar-calendar-filter list-group-item" data-value="Public Events">
		Public Events
		<span class="event event-important pull-left"></span>
	</a>
	<a href="#" class="calendar-calendar-filter list-group-item" data-value="Public Meetings">
		Public Meetings
		<span class="event event-important pull-left"></span>
	</a>
	<a href="#" class="calendar-calendar-filter list-group-item" data-value="Senior Centers">
		Senior Centers
		<span class="event event-important pull-left"></span>
	</a>
</div>
