<ul id="hc-l3-left-nav" class="list-unstyled hidden-xs">
	<li><a href="{{ '/layouts/l3/' | prepend: site.baseurl }}">Economic Development</a></li>
	<li><a href="{{ '/layouts/l3/' | prepend: site.baseurl }}">Human Services</a></li>
	<li class="active">
		<a href="{{ '/layouts/l3/' | prepend: site.baseurl }}">Public Safety</a>
	</li>
	<li><a href="{{ '/layouts/l3/' | prepend: site.baseurl }}">Recreation</a></li>
	<li><a href="{{ '/layouts/l3/' | prepend: site.baseurl }}">Transportation</a></li>
</ul>

<aside class="panel panel-default">
	<header class="panel-heading">
		<h4 class="panel-title">
			View Types
		</h4>
	</header>
	<div class="list-group list-group-js small" data-toggle="items">
		<a href="#" class="list-group-item">Calendars</a>
		<a href="#" class="list-group-item">Charts</a>
		<a href="#" class="list-group-item">Data Lens pages</a>
		<a href="#" class="list-group-item">Datasets</a>
		<a href="#" class="list-group-item">External Datasets</a>
		<a href="#" class="list-group-item">Files and Documents</a>
		<a href="#" class="list-group-item">Filtered Views</a>
		<a href="#" class="list-group-item">Forms</a>
		<a href="#" class="list-group-item">Maps</a>
	</div>
</aside>
