<section id="hc-map-home" class="embed-responsive">
	<figure class="hc-map-v2" data-has-overlay="true">
		<layerGroup data-name="County Public Offices" data-visible="true" data-template="hc-arcgis" data-icon-char="" data-icon-color="#fd9407">
			<layer data-name="Community Resource Centers" data-id="2"></layer>
			<layer data-name="Consumer Protection Offices" data-id="3"></layer>
			<layer data-name="Public Utilities Customer Service Centers" data-id="12"></layer>
			<layer data-name="Pet Resource Center" data-id="10"></layer>
			<layer data-name="County Center" data-id="4"></layer>
			<layer data-name="Veterans Services Offices" data-id="16"></layer>
		</layerGroup>
		<layer data-name="Community Collection Centers" data-id="1" data-template="hc-arcgis" data-icon-char="" data-icon-color="#975ab9"></layer>
		<layer data-name="Senior Centers" data-id="13" data-template="hc-arcgis" data-icon-char="" data-icon-color="#e34c84"></layer>
		<layer data-name="Parks" data-id="9" data-template="hc-arcgis" data-icon-char="" data-icon-color="#9bd543"></layer>
		<layerGroup data-name="Constitutional Offices" data-template="hc-arcgis" data-icon-char="" data-icon-color="#bbbcbe">
			<layer data-name="Tax Collector Locations" data-id="15"></layer>
			<layer data-name="Clerk of Court Locations" data-id="0"></layer>
			<layer data-name="Supervisor of Elections Locations" data-id="14"></layer>
			<layer data-name="Sheriff Office Locations" data-id="6"></layer>
			<layer data-name="Property Appraiser Locations" data-id="11"></layer>
		</layerGroup>
		<layer data-name="Fire Stations" data-id="5" data-template="hc-arcgis" data-icon-char="" data-icon-color="#f0463c"></layer>
		<layer data-name="Libraries" data-id="8" data-template="hc-arcgis" data-icon-char="" data-icon-color="#1e95c0"></layer>
	</figure>
</section>
