<div class="panel-group" role="tablist" aria-multiselectable="true">
	<div class="panel panel-info">
		<div class="panel-heading" role="tab" id="headingOne">
			<h2 class="panel-title">
				<a role="button" data-toggle="collapse" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
					Collapsible Group Item #1
				</a>
			</h2>
		</div>
		<div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
			<div class="panel-body">

				{% for action in site.data.actions %}
					<h3 class="text-primary h4">
						<i class="fa fa-fw fa-bar-chart"></i>
						{{ action.group }}
					</h3>

					{% for cat in action.categories %}
					{% if cat.category %}
					<h4 class="h6 text-black text-upcase">{{ cat.category }}</h4>
					{% endif %}
					<ul class="hc-actions">
						{% for action in cat.actions %}
						<li>
							<a href="#">
								{{ action.title }}
							</a>
						</li>
						{% endfor %}
					</ul>
					{% endfor %}

				{% endfor %}

			</div>
		</div>
	</div>
	<div class="panel panel-info">
		<div class="panel-heading" role="tab" id="headingTwo">
			<h2 class="panel-title">
				<a class="collapsed" role="button" data-toggle="collapse" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
					Collapsible Group Item #2
				</a>
			</h2>
		</div>
		<div id="collapseTwo" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingTwo">
			<div class="panel-body">
				<div class="row">
					<div class="col-md-4">
						<p>
							<a href="#" class="btn btn-md btn-block btn-secondary btn-2-line"><span>Consumer Protection Agency Locations</span></a>
						</p>
					</div>
					<div class="col-md-4">
						<p>
							<a href="#" class="btn btn-md btn-block btn-secondary btn-2-line"><span>Lorem ipsum</span></a>
						</p>
					</div>
					<div class="col-md-4">
						<p>
							<a href="#" class="btn btn-md btn-block btn-secondary btn-2-line"><span>Lorem ipsum</span></a>
						</p>
					</div>
					<div class="col-md-4">
						<p>
							<a href="#" class="btn btn-md btn-block btn-secondary btn-2-line"><span>Lorem ipsum</span></a>
						</p>
					</div>
				</div>

			</div>
		</div>
	</div>
	<div class="panel panel-info">
		<div class="panel-heading" role="tab" id="headingThree">
			<h2 class="panel-title">
				<a class="collapsed" role="button" data-toggle="collapse" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
					Collapsible Group Item #3
				</a>
			</h2>
		</div>
		<div id="collapseThree" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingThree">
			<div class="panel-body">
				{% include get-help-block.html %}
			</div>
		</div>
	</div>
</div>
