<div class="row">
	<div class="col-md-6">
		<dl class="dl-horizontal">
			<dt>Location</dt>
			<dd>Lorem ipsum dolor sit amet, consectetur adipisicing elit</dd>

			<dt>Hours</dt>
			<dd>Lorem ipsum dolor sit amet, consectetur adipisicing elit</dd>

			<dt>Contact</dt>
			<dd>Lorem ipsum dolor sit amet, consectetur adipisicing elit</dd>

			<dt>Entrance Fee</dt>
			<dd>Lorem ipsum dolor sit amet, consectetur adipisicing elit</dd>
		</dl>
	</div>
	<div class="col-md-6">

		<div class="embed-responsive embed-responsive-16by9 thumbnail">
			<figure class="hc-map-v2">
				<marker data-name="Address" data-address="601 E Kennedy Blvd, Tampa, FL 33602">
					Popup content can be placed here...
				</marker>
			</figure>
		</div>

	</div>
</div>
