<div class="row">
	<div class="col-md-6">
		<dl class="dl-horizontal">
			<dt>Location</dt>
			<dd>Lorem ipsum dolor sit amet, consectetur adipisicing elit</dd>

			<dt>Hours</dt>
			<dd>Lorem ipsum dolor sit amet, consectetur adipisicing elit</dd>

			<dt>Contact</dt>
			<dd>Lorem ipsum dolor sit amet, consectetur adipisicing elit</dd>

			<dt>Entrance Fee</dt>
			<dd>Lorem ipsum dolor sit amet, consectetur adipisicing elit</dd>
		</dl>
	</div>
	<div class="col-md-6">
		<div id="hc-location-map-container" class="embed-responsive thumbnail">
			<iframe class="embed-responsive-item" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d225470.92305415656!2d-82.59471061954713!3d27.99441122265308!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x88c2b782b3b9d1e1%3A0xa75f1389af96b463!2sTampa%2C+FL!5e0!3m2!1sen!2sus!4v1466104094375" frameborder="0" allowfullscreen></iframe>
		</div>
	</div>
</div>
