<div class="row">
	<div class="col-md-6">
		<dl class="dl-horizontal">
			<dt>Location</dt>
			<dd>Lorem ipsum dolor sit amet, consectetur adipisicing elit</dd>

			<dt>Hours</dt>
			<dd>Lorem ipsum dolor sit amet, consectetur adipisicing elit</dd>

			<dt>Contact</dt>
			<dd>Lorem ipsum dolor sit amet, consectetur adipisicing elit</dd>

			<dt>Entrance Fee</dt>
			<dd>Lorem ipsum dolor sit amet, consectetur adipisicing elit</dd>
		</dl>
	</div>
	<div class="col-md-6">
		<div id="hc-location-map-container" class="embed-responsive thumbnail">
			<div id="geoSearch" class="hc-map hc-map-geo" data-name="{{ page.title }}" data-address="{{ page.address }}"></div>
		</div>
	</div>
</div>
