<nav id="hc-main-nav" class="navbar navbar-default">
	<div class="container-fluid">
		<!-- Brand and toggle get grouped for better mobile display -->
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="/">
				<!-- <img src="{{ '/images/logo.png' | prepend: site.baseurl }}" alt="" /> -->
			</a>
		</div>

		<!-- Collect the nav links, forms, and other content for toggling -->
		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			<form class="navbar-form navbar-right" role="search">
				<div class="form-group">
					<input type="text" class="form-control" placeholder="Search">
				</div>
			</form>

			<ul id="hc-main-nav-sections" class="nav navbar-nav navbar-right">
				{% for item in site.data.nav_items %}
				<li class="nav-hover">
					<a href="#section_{{ forloop.index }}" data-target="#section_{{ forloop.index }}" data-toggle="collapse" data-parent="#navDropdowns">
						{{ item.title }}
					</a>
				</li>
				{% endfor %}
			</ul>
		</div><!-- /.navbar-collapse -->
	</div><!-- /.container-fluid -->
</nav>

<!-- dropdowns -->
<section id="navDropdowns">
	<div class="panel">
		{% for item in site.data.nav_items %}
		<div class="collapse" id="section_{{ forloop.index }}">
			<div class="container">

				{% if item.l2s %}
				<div class="service-groups container clearfix">
					<h2 class="service-group-title">{{ item.title }}</h2>
					<div class="row">
						<div class="col-sm-6">

							<ul id="service-sections" class="nav nav-pills nav-stacked">
								{% for subitem in item.l2s %}
								<li class="service-section">
									<a href="#">
										{{ subitem.title }}
									</a>
								</li>
								{% endfor %}
							</ul>

						</div>

						<div class="col-sm-6">

							<div class="row">
								<div class="col-xs-6">
									<h3 class="service-group-featured">
										{{ item.title }}
									</h3>
									<p>
										Lorem ipsum dolor sit amet, consectetur adipisicing elit.
									</p>
								</div>
								<div class="col-xs-4">
									<p>
										<img src="https://pbs.twimg.com/profile_images/562466745340817408/_nIu8KHX.jpeg" alt="{{ item.title }}" class="img-responsive img-circle">
									</p>
								</div>
							</div>

						</div>

					</div>
				</div>
				{% endif %}
			</div>
		</div>
		{% endfor %}
	</div>
</section>
