@charset "UTF-8";
.embed-responsive {
  position: relative;
  display: block;
  height: 0;
  padding: 0;
  overflow: hidden; }
  .embed-responsive .embed-responsive-item, .embed-responsive .hc-map-v2,
  .embed-responsive iframe,
  .embed-responsive embed,
  .embed-responsive object,
  .embed-responsive video {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    border: 0; }

.embed-responsive-16by9 {
  padding-bottom: 56.25%; }

.embed-responsive-4by3 {
  padding-bottom: 75%; }

#hc-map-home {
  height: 350px; }

@media (max-width: 767px) {
  .hc-map-v2 .leaflet-top.leaflet-left {
    bottom: 10px;
    top: auto; } }
.hc-map-v2 .leaflet-popup {
  margin-left: 10px; }
.hc-map-v2 .leaflet-popup-content-wrapper, .hc-map-v2 .leaflet-popup-content {
  min-width: 300px;
  padding: 0;
  margin: 0;
  border-radius: 4px; }
  .hc-map-v2 .leaflet-popup-content-wrapper a.btn, .hc-map-v2 .leaflet-popup-content a.btn {
    color: #ff6f59; }
    .hc-map-v2 .leaflet-popup-content-wrapper a.btn:hover, .hc-map-v2 .leaflet-popup-content a.btn:hover {
      color: #fff; }
.hc-map-v2 .leaflet-popup-close-button {
  color: #fff !important;
  top: 8px !important;
  right: 5px !important; }
.hc-map-v2 .popover-title {
  background: #9bd63c;
  color: #fff;
  padding: 10px 40px 10px 10px; }

#hc-map-overlay #hc-map-overlay-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 500;
  margin: 0 0; }
@media (max-width: 767px) {
  #hc-map-overlay {
    left: 10px; } }
@media (min-width: 768px) {
  #hc-map-overlay {
    min-width: 310px; } }
#hc-map-overlay .panel-heading {
  display: block;
  background: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 600;
  color: #044169;
  padding-right: 50px; }
  #hc-map-overlay .panel-heading::after {
    content: '';
    color: #ff6f59;
    position: absolute;
    right: 20px;
    top: 10px; }
  #hc-map-overlay .panel-heading.collapsed::after {
    content: ''; }

#map-overlay-toggles {
  -webkit-column-count: 2;
  /* Chrome, Safari, Opera */
  -moz-column-count: 2;
  /* Firefox */
  column-count: 2;
  -webkit-column-gap: 4px;
  /* Chrome, Safari, Opera */
  -moz-column-gap: 4px;
  /* Firefox */
  column-gap: 4px; }
  #map-overlay-toggles > a.map-overlay-toggle {
    display: block;
    background: #f4f7f8;
    padding: 10px;
    border-bottom: 2px solid #fff;
    border-top: 2px solid #fff;
    text-decoration: none;
    -webkit-column-break-inside: avoid;
    /* Chrome, Safari, Opera */
    page-break-inside: avoid;
    /* Firefox */
    break-inside: avoid;
    /* IE 10+ */ }
    #map-overlay-toggles > a.map-overlay-toggle.active {
      background-color: #d8f0f2; }

.hc-map-icon {
  font-family: FontAwesome;
  display: inline-block;
  width: 30px !important;
  height: 30px !important;
  left: -10px;
  border-radius: 50%;
  text-align: center;
  padding-top: 2px;
  border: 1px solid #fff;
  font-size: 16px;
  color: #fff; }

.map-overlay-toggle .hc-map-icon {
  padding-top: 3px; }
