@import "theme/mixins";
@import "theme/navbar";
@import "theme/navs";
@import "theme/buttons";
@import "theme/columns";
@import "theme/cards";

// affix layout
@import "theme/hc-affix";

// links
.hc-content {
	a {
		text-decoration: underline;
		// font-weight: 500;
	}
}

// xs (mobile) only
@media (max-width: $screen-xs-max) {
	// center text
	.text-center-xs { text-align: center; }
}

.text-white { color: #fff; }
.text-shadowed { text-shadow: 1px 1px #000; }

// jumbotron - http://getbootstrap.com/components/#jumbotron
.jumbotron {
	@include gradient-background-info;

	color: $brand-secondary;

	h1, .h1 {
		@media screen and (min-width: 768px) {
			font-size: 3em;
		}
	}

	h1, h2, h3, h4, h5, h6 {
		font-weight: 600;
		color: #fff;
	}

	p {
		font-weight: 400;
	}

	&.jumbotron-less-padding {
		padding: $grid-gutter-width / 2;
	}
}

// jumbotron-hc-tabs
.jumbotron-hc-tabs {
	margin-bottom: 0;
	padding-bottom: $grid-gutter-width * 2.5;
}
.jumbotron-hc-tabs-empty {
	margin-bottom: 0;
	padding: $grid-gutter-width 0;
}

// full-width white container to accomodate margins of sibling elements
.hc-container-white {
	background: #fff;
	margin: -($grid-gutter-width) auto ($grid-gutter-width / 2);
	padding: 25px 0 15px 0;
}

// lead text - http://getbootstrap.com/css/#lead-body-copy
.lead {
	font-size: 1.25em;
	@media (min-width: $screen-sm-min) {
		font-size: 1.4em;
	}
	color: $brand-secondary;
	a {
		color: $brand-primary;
		text-decoration: underline;
		&:hover { color: darken($brand-primary, 20%); }
	}
}

// footer
#hc-footer {
	@include gradient-background-secondary;

	padding-top: 30px;
	color: #fff;

	a {
		color: #fff;
		text-decoration: none;
	}

	> .row .col-sm-4 {
		padding: 10px 15px;
	}

	@media (min-width: $screen-sm-min) {
		display: table;
		width: 100%;
		> .row {
			display: table-row;
			width: 100%;
			.col-sm-4 {
				float: none;
				display: table-cell;
				vertical-align: middle;
			}
		}
	}
}

// featured links section
#hc-home-featured-links {
	margin-top: 15px;
	margin-bottom: 0;
	padding: 15px 15px 20px;

	ul.nav-pills.nav-stacked {

		@media (min-width: $screen-sm-min) {
			-webkit-column-count: 3; /* Chrome, Safari, Opera */
			-moz-column-count: 3; /* Firefox */
			column-count: 3;
		}

		> li {
			-webkit-column-break-inside: avoid; /* Chrome, Safari, Opera */
			page-break-inside: avoid; /* Firefox */
			break-inside: avoid; /* IE 10+ */

			a:hover, a:focus { background: none;}

			@media (max-width: $screen-xs-max) {
				&:nth-child(n+6) {
					display: none;
				}
			}
		}
	}

}
