@mixin gradient-background-info {
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#79ccd2+0,79ccd2+50,8cd3d7+51,8cd3d7+100 */
	background: #79ccd2; /* Old browsers */
	background: -moz-linear-gradient(-45deg,  #79ccd2 0%, #79ccd2 50%, #8cd3d7 51%, #8cd3d7 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(-45deg,  #79ccd2 0%,#79ccd2 50%,#8cd3d7 51%,#8cd3d7 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(135deg,  #79ccd2 0%,#79ccd2 50%,#8cd3d7 51%,#8cd3d7 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#79ccd2', endColorstr='#8cd3d7',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

@mixin gradient-background-secondary {
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#034168+0,034168+50,124c71+51,124c71+100 */
	background: #034168; /* Old browsers */
	background: -moz-linear-gradient(-45deg,  #034168 0%, #034168 50%, #124c71 51%, #124c71 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(-45deg,  #034168 0%,#034168 50%,#124c71 51%,#124c71 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(135deg,  #034168 0%,#034168 50%,#124c71 51%,#124c71 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#034168', endColorstr='#124c71',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

@import "theme/navbar";
@import "theme/navs";
@import "theme/buttons";
@import "theme/columns";
@import "theme/cards";

// affix layout
@import "theme/hc-affix";

// xs (mobile) only
@media (max-width: $screen-xs-max) {
	// center text
	.text-center-xs { text-align: center; }
}

// default heading colors
h1, h2, h3, h4, h5, h6 {
	color: $link-color;
}

// jumbotron - http://getbootstrap.com/components/#jumbotron
.jumbotron {
	@include gradient-background-info;

	color: $link-color;

	h1, h2, h3, h4, h5, h6 {
		color: #fff;
	}

	p {
		font-weight: 400;
	}

	// extra padding for jumbotrons housing tabs
	&.hc-jumbotron-tabs {
		padding-bottom: 60px;
	}
}

#hc-home-header {
	> .container:first-of-type {
		color: #fff;
	}

	// background-position: center center;
	// background-repeat: no-repeat;
	// background-size: cover;
	// background-attachment: fixed;

	text-shadow: 1px 1px #000;
}

// full-width white container to accomodate margins of sibling elements
.hc-container-white {
	background: #fff;
	margin: -($grid-gutter-width) auto ($grid-gutter-width / 2);
	padding: 25px 0 15px 0;
}

// lead text - http://getbootstrap.com/css/#lead-body-copy
.lead {
	color: $link-color;
	a {
		color: $brand-primary;
	}
}

// footer
#hc-footer {
	@include gradient-background-secondary;

	padding-top: 30px;
	color: #fff;

	a {
		color: #fff;
		text-decoration: none;
	}

	> .row .col-sm-4 {
		padding: 10px 0;
	}

	@media (min-width: $screen-sm-min) {
		display: table;
		width: 100%;
		> .row {
			display: table-row;
			width: 100%;
			.col-sm-4 {
				float: none;
				display: table-cell;
				vertical-align: middle;
			}
		}
	}
}

// featured links section
#hc-home-featured-links {
	margin-top: 15px;
	margin-bottom: 0;
	padding: 15px 15px 20px;

	ul.nav-pills.nav-stacked {

		@media (min-width: $screen-sm-min) {
			-webkit-column-count: 3; /* Chrome, Safari, Opera */
			-moz-column-count: 3; /* Firefox */
			column-count: 3;
		}

		> li {
			-webkit-column-break-inside: avoid; /* Chrome, Safari, Opera */
			page-break-inside: avoid; /* Firefox */
			break-inside: avoid; /* IE 10+ */

			a:hover, a:focus { background: none;}

			@media (max-width: $screen-xs-max) {
				&:nth-child(n+6) {
					display: none;
				}
			}
		}
	}

}

// flickity - carousel
.hc-flickity-gallery {
	&:after {
		content: 'flickity';
		display: none;
		@media (min-width: $screen-sm-min) { content: ''; }
	}

	.flickity-viewport {
		margin-bottom: 25px;
	}

	.flickity-page-dots {
		bottom: -10px;

		li.dot {
			background: none;
			border: 2px solid $brand-info;
			width: 15px;
			height: 15px;
			&.is-selected {
				background: $brand-info;
			}
		}
	}
}
