<!-- <span id="cal-slide-tick" style="display: none"></span> -->
<div id="" class="cal-event-list panel panel-info">

	<header class="panel-heading">
		<h4 class="panel-title">
			<%= new Date(events[0].start).toDateString() %>
		</h4>
	</header>

	<div class="panel-body">

		<div class="row">
			<% _.each(events, function(event) { %>
				<div class="col-sm-6">
					<aside class="thumbnail">
						<div class="row">
							<div class="col-md-5">
								<div class="embed-responsive embed-responsive-16by9">
									<img src="<%= event.image %>" alt="<%= event.title %>" class="img-responsive center-block">
								</div>
							</div>
							<div class="col-md-7">
								<div class="caption">
									<h5>
										<%= event.title %>
									</h5>
								</div>
							</div>
						</div>
					</aside>
				</div>
				<% }) %>
			</div>

		</div>

	</div>
