<span id="cal-slide-tick" style="display: none"></span>

<section class="cal-event-list panel panel-info">
	<header class="panel-heading">
		<h4 class="panel-title">
			<%= new Date(events[0].start).toDateString() %>
		</h4>
	</header>

	<div class="panel-body">
		<div class="row">
			<% _.each(events, function(event) { %>
				<aside class="col-sm-6" data-event-id="<%= event.id %>">
					<div class="thumbnail calendar-event-card">
						<div class="row">
							<div class="col-md-6">
								<a href="<%= event.url %>" class="embed-responsive embed-responsive-16by9 hidden-xs" title="<%= event.title %> | <%= event.type %>">
									<img src="<%= event.image %>" alt="<%= event.title %>" class="img-responsive center-block">
								</a>
							</div>
							<div class="col-md-6">
								<div class="caption">
									<h5 class="calendar-event-card-title text-primary">
										<a href="<%= event.url %>" class="text-primary" title="<%= event.title %> | <%= event.type %>">
											<%= event.title %>
										</a>
										<br>
										<small>
											<%= event.type %>
											<span class="event event-important pull-left"></span>
										</small>
									</h5>
									<p class="calendar-event-card-details">
										<%= event.location %><br>
										<%= new Date(event.start).toLocaleTimeString('en-US', {hour: '2-digit', minute:'2-digit'}) %>
									</p>
								</div>
							</div>
						</div>
					</div>
				</aside><%
			}) %>
		</div>
	</div>
</section>
