<div class="cal-month-day <%= cls %>">
	<p class="text-center day-title" data-cal-date="<%= data_day %>" data-cal-view="day" data-toggle="tooltip" title="<%= tooltip %>">
		<small>
			<%= curdate.toString().substring(0, 3) %>
		</small>
		<br>
		<%= day %>
	</p>
	<% if (events.length > 0) { %>
		<div class="events-list" data-cal-start="<%= start %>" data-cal-end="<%= end %>">

			<% _.each(_.uniq(events, false, function(e){ return e.type; }), function(event) { %>
				<span class="pull-left event <%= event.class %>" data-toggle="tooltip" title="<%= event.type %>"></span>
			<% }); %>

		</div>
	<% } %>
</div>
