---
layout: hc-sidebar
title: Women’s Hall of Fame
back: Lorem
permalink: /whof/
---

<p>
	The Hillsborough County Women's Hall of Fame was created in 2011 by the Hillsborough County Commission on the Status of Women to honor women who, through their lives and efforts, have made significant contributions to the improvement of life for women and for all citizens of Hillsborough County.
</p>

<p>
	The Commission maintains and facilitates the permanent Women's Hall of Fame displayed at the Tampa Convention Center.
</p>

{% for year in site.data.womens_hof.years %}

<h3>
	{{ year.year }} Women's Hall of Fame Inductees
</h3>

{% if year.description %}
<p>
	{{ year.description }}
</p>
{% endif %}

{% if year.program || year.bookmark %}
<ul>
	{% if year.program %}
	<li>
		<a href="{{ year.program }}" target="_blank">
			Ceremony Program
		</a>
	</li>
	{% endif %}

	{% if year.bookmark %}
	<li>
		<a href="{{ year.bookmark }}" target="_blank">
			Inductee Bookmark
		</a>
	</li>
	{% endif %}
</ul>
{% endif %}


<ul class="media-list">
	{% for inductee in year.inductees %}
	<li class="media">
		<div class="media-left">
			<img src="{{ inductee.image_src }}" alt="{{ inductee.name }}" class="media-object" style="max-width: 100px;">
		</div>
		<div class="media-body">
			<h5 class="media-heading">{{ inductee.name }}</h5>
			<div class="inductee-caption">
				{{ inductee.caption }}
			</div>
		</div>
	</li>
	{% endfor %}
</ul>

<hr>

{% endfor %}
