<aside class="hc-map-overlay">
	<div id="btn-map-overlays" class="panel-group">
		<div class="panel panel-default">
			<a class="panel-heading" role="button" data-toggle="collapse" data-parent="#btn-map-overlays" href="#map-overlays" aria-expanded="true" aria-controls="map-overlays">
				<i class="fa fa-chevron-down pull-right text-primary"></i>
				<i class="fa fa-map-marker fa-fw"></i> Select Map Overlays
			</a>
			<div id="map-overlays" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
				<div id="map-overlay-toggles" class="">
					<!-- toggles here -->
				</div>
			</div>
		</div>
	</div>
</aside>
