---
layout: hc-sidebar
sidebar: hc-default-sidebar.html
---

<div class="lead">
	{{ page.subheading }}
</div>

<div class="row">

	<div class="col-md-7 col-lg-8">
		<div class="hc-rte">
			{{ content }}
		</div>
	</div>

	<div class="col-md-5 col-lg-4">
		<aside class="thumbnail">
			<div class="row">
				<div class="col-md-12 col-sm-4 col-xs-5">
					<!-- <div class="embed-responsive embed-responsive-4by3"> -->
					<img src="https://placehold.it/275x275.png" class="img-responsive center-block">
					<!-- </div> -->
				</div>
				<div class="col-md-12 col-sm-8 col-xs-7">
					<div class="caption">

						<h5 class="media-heading">
							Annette Spina
							<em class="small">
								Director
							</em>
						</h5>

						<ul class="list-unstyled small">
							<li>
								<i class="fa fa-fw fa-phone"></i>
								(813) 555-5555
							</li>
							<li style="display: block; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">
								<i class="fa fa-fw fa-envelope"></i>
								<a href="#">
									realllllllllllylooooooooongemail@hcflgov.net
								</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</aside>

		<aside class="panel panel-info">
			<header class="panel-heading">
				Department Services
			</header>
			<div class="list-group">
				<a href="#" class="list-group-item"><i class="fa fa-fw fa-clipboard text-primary"></i> Apply Lorem Ipsum</a>
				<a href="#" class="list-group-item"><i class="fa fa-fw fa-user text-primary"></i> Register Lorem Ipsum</a>
				<a href="#" class="list-group-item"><i class="fa fa-fw fa-volume-up text-primary"></i> Report Lorem Ipsum</a>
				<a href="#" class="list-group-item"><i class="fa fa-fw fa-bell-o text-primary"></i> Request Lorem Ipsum</a>
				<a href="#" class="list-group-item"><i class="fa fa-fw fa-pencil-square-o text-primary"></i> Pay Lorem Ipsum</a>
			</div>
		</aside>

	</div>

</div>
