---
layout: default
---

<style media="screen">
.col-sm-8.col-md-9 > h3 {
	color: #ff6f59;
}
</style>

<header id="hc-affix-header" class="jumbotron jumbotron-sm">
	<div class="container-fluid">
		<h2>{{ page.title }}</h2>
	</div>
</header>

<div class="container-fluid">

	<nav id="hc-affix-left-nav-container" class="col-sm-4 col-md-3">

		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#hc-affix-left-nav" aria-expanded="false">
				<span class="sr-only">Toggle navigation</span>
				<i class="fa fa-bars"></i>
			</button>
		</div>

		<ul id="hc-affix-left-nav" class="nav nav-pills nav-stacked collapse navbar-collapse">
			<li role="presentation"><a href="#project-number">Project Number</a></li>
			<li role="presentation"><a href="#description">Description</a></li>
			<li role="presentation"><a href="#what-to-expect">What to Expect</a></li>
			<li role="presentation"><a href="#cost--funding">Cost & Funding</a></li>
			<li role="presentation"><a href="#timeline">Timeline</a></li>
			<li role="presentation"><a href="#contact">Contact</a></li>
			<li role="presentation"><a href="#additional-information">Additional Information</a></li>
			<li role="presentation"><a href="#public-meeting">Public Meeting</a></li>

			<li role="presentation" class="hidden-xs text-center" style="border: none;">
				<a href="#" title="Back to top" style="margin: 0;">
					<i class="fa fa-fw fa-2x fa-angle-up text-primary"></i>
				</a>
			</li>
		</ul>

	</nav>

	<div class="hc-content col-sm-8 col-md-9">

		<ol class="breadcrumb text-right small">
			<li><a href="#">Home</a></li>
			<li><a href="#">Animals & Pets</a></li>
			<li><a href="#">Lost Pets</a></li>
			<li class="active">{{ page.title }}</li>
		</ol>

		{{ content }}
	</div>
</div>
