---
layout: default
---

<header id="hc-l3-header" class="jumbotron">
	<div class="container">
		<div class="row">
			<div class="col-sm-8 col-sm-push-4 col-md-9 col-md-push-3">
				<h2 class="">{{ page.title }}</h2>
			</div>
			<div class="col-sm-4 col-sm-pull-8 col-md-3 col-md-pull-9">
				<h3 class="text-center">
					<a href="#">
						<i class="fa fa-fw fa-chevron-left"></i>
						{{ page.back }}
					</a>
				</h3>
			</div>
		</div>
	</div>
</header>

<div class="container">

	<div class="row">

		<nav id="hc-l3-left-nav-container" class="col-sm-4 col-md-3 hidden-xs">

			<ul id="hc-l3-left-nav" class="list-unstyled">
				<li><a href="#">Lorem ipsum dolor sit amet</a></li>
				<li class="active">
					<a href="#">Nulla volutpat aliquam velit</a>
					<ul class="list-unstyled">
						<li><a href="#">Phasellus iaculis neque</a></li>
						<li><a href="#">Purus sodales ultricies Nulla volutpat aliquam velit Nulla volutpat aliquam velit Nulla volutpat aliquam velit</a></li>
						<li><a href="#">Vestibulum laoreet porttitor sem</a></li>
						<li><a href="#">Ac tristique libero volutpat at</a></li>
					</ul>
				</li>
				<li><a href="#">Faucibus porta lacus fringilla vel</a></li>
				<li><a href="#">Eget porttitor lorem</a></li>
			</ul>

		</nav>

		<div class="col-sm-8 col-md-9">
			<div class="">
				{{ content }}
			</div>

			<div class="panel-group" role="tablist" aria-multiselectable="true">
				<div class="panel panel-info">
					<div class="panel-heading" role="tab" id="headingOne">
						<h4 class="panel-title">
							<a role="button" data-toggle="collapse" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
								Collapsible Group Item #1
							</a>
						</h4>
					</div>
					<div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
						<div class="panel-body">

							<div class="row">
								<div class="col-sm-6 col-md-4 clear-2-sm-max clear-3-md">
									<h3 class="text-primary">
										<i class="fa fa-fw fa-bar-chart"></i>
										Apply
									</h3>
									<ul class="nav nav-pills nav-stacked">
										<li class="">
											<a href="#">
												<i class="fa fa-fw fa-caret-right" aria-hidden="true"></i>
												Lorem ipsume
											</a>
										</li>
										<li class="">
											<a href="#">
												<i class="fa fa-fw fa-caret-right" aria-hidden="true"></i>
												Lorem ipsume
											</a>
										</li>
										<li class="">
											<a href="#">
												<i class="fa fa-fw fa-caret-right" aria-hidden="true"></i>
												Lorem ipsume
											</a>
										</li>
										<li class="">
											<a href="#">
												<i class="fa fa-fw fa-caret-right" aria-hidden="true"></i>
												Lorem ipsume
											</a>
										</li>
										<li class="">
											<a href="#">
												<i class="fa fa-fw fa-caret-right" aria-hidden="true"></i>
												Lorem ipsume
											</a>
										</li>
									</ul>
								</div>
								<div class="col-sm-6 col-md-4 clear-2-sm-max clear-3-md">
									<h3 class="text-primary">
										<i class="fa fa-fw fa-bar-chart"></i>
										Report
									</h3>
									<ul class="nav nav-pills nav-stacked">
										<li class="">
											<a href="#">
												<i class="fa fa-fw fa-caret-right" aria-hidden="true"></i>
												Lorem ipsume
											</a>
										</li>
										<li class="">
											<a href="#">
												<i class="fa fa-fw fa-caret-right" aria-hidden="true"></i>
												Lorem ipsume
											</a>
										</li>
										<li class="">
											<a href="#">
												<i class="fa fa-fw fa-caret-right" aria-hidden="true"></i>
												Lorem ipsume
											</a>
										</li>
										<li class="">
											<a href="#">
												<i class="fa fa-fw fa-caret-right" aria-hidden="true"></i>
												Lorem ipsume
											</a>
										</li>
									</ul>
								</div>
								<div class="col-sm-6 col-md-4 clear-2-sm-max clear-3-md">
									<h3 class="text-primary">
										<i class="fa fa-fw fa-bar-chart"></i>
										Pay
									</h3>
									<ul class="nav nav-pills nav-stacked">
										<li class="">
											<a href="#">
												<i class="fa fa-fw fa-caret-right" aria-hidden="true"></i>
												Lorem ipsume
											</a>
										</li>
										<li class="">
											<a href="#">
												<i class="fa fa-fw fa-caret-right" aria-hidden="true"></i>
												Lorem ipsume
											</a>
										</li>
										<li class="">
											<a href="#">
												<i class="fa fa-fw fa-caret-right" aria-hidden="true"></i>
												Lorem ipsume
											</a>
										</li>
										<li class="">
											<a href="#">
												<i class="fa fa-fw fa-caret-right" aria-hidden="true"></i>
												Lorem ipsume
											</a>
										</li>
									</ul>
								</div>
								<div class="col-sm-6 col-md-4 clear-2-sm-max clear-3-md">
									<h3 class="text-primary">
										<i class="fa fa-fw fa-bar-chart"></i>
										Register
									</h3>
									<ul class="nav nav-pills nav-stacked">
										<li class="">
											<a href="#">
												<i class="fa fa-fw fa-caret-right" aria-hidden="true"></i>
												Lorem ipsume
											</a>
										</li>
										<li class="">
											<a href="#">
												<i class="fa fa-fw fa-caret-right" aria-hidden="true"></i>
												Lorem ipsume
											</a>
										</li>
										<li class="">
											<a href="#">
												<i class="fa fa-fw fa-caret-right" aria-hidden="true"></i>
												Lorem ipsume
											</a>
										</li>
										<li class="">
											<a href="#">
												<i class="fa fa-fw fa-caret-right" aria-hidden="true"></i>
												Lorem ipsume
											</a>
										</li>
									</ul>
								</div>
							</div>

						</div>
					</div>
				</div>
				<div class="panel panel-info">
					<div class="panel-heading" role="tab" id="headingTwo">
						<h4 class="panel-title">
							<a class="collapsed" role="button" data-toggle="collapse" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
								Collapsible Group Item #2
							</a>
						</h4>
					</div>
					<div id="collapseTwo" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingTwo">
						<div class="panel-body">

							<div class="row">
								<div class="col-md-4">
									<p>
										<a href="#" class="btn btn-md btn-block btn-secondary btn-2-line"><span>Consumer Protection Agency Locations</span></a>
									</p>
								</div>
								<div class="col-md-4">
									<p>
										<a href="#" class="btn btn-md btn-block btn-secondary btn-2-line"><span>Lorem ipsum</span></a>
									</p>
								</div>
								<div class="col-md-4">
									<p>
										<a href="#" class="btn btn-md btn-block btn-secondary btn-2-line"><span>Lorem ipsum</span></a>
									</p>
								</div>
								<div class="col-md-4">
									<p>
										<a href="#" class="btn btn-md btn-block btn-secondary btn-2-line"><span>Lorem ipsum</span></a>
									</p>
								</div>
							</div>

						</div>
					</div>
				</div>
				<div class="panel panel-info">
					<div class="panel-heading" role="tab" id="headingThree">
						<h4 class="panel-title">
							<a class="collapsed" role="button" data-toggle="collapse" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
								Collapsible Group Item #3
							</a>
						</h4>
					</div>
					<div id="collapseThree" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingThree">
						<div class="panel-body">
							Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
						</div>
					</div>
				</div>
			</div>

		</div>
	</div>
</div>
