---
layout: default
---

<header class="jumbotron">
	<div class="container">
		<h1 class="">{{ page.title }}</h1>
		<div class="hc-rte-content">
			{{ content }}
		</div>
	</div>
</header>

<section class="hc-container-white">
	<div class="container">
		<div class="row">
			<div class="col-sm-4 col-md-3">
				<p>
					<a href="{{ '/layouts/l3/' | prepend: site.baseurl }}" class="btn btn-secondary btn-lg btn-block btn-3-line">
						<span>Lost Pets</span>
					</a>
				</p>
			</div>
			<div class="col-sm-4 col-md-3">
				<p>
					<a href="{{ '/layouts/l3/' | prepend: site.baseurl }}" class="btn btn-secondary btn-lg btn-block btn-3-line">
						<span>Pet Adoptions</span>
					</a>
				</p>
			</div>
			<div class="col-sm-4 col-md-3">
				<p>
					<a href="{{ '/layouts/l3/' | prepend: site.baseurl }}" class="btn btn-secondary btn-lg btn-block btn-3-line">
						<span>Pet Advocacy</span>
					</a>
				</p>
			</div>
			<div class="col-sm-4 col-md-3">
				<p>
					<a href="{{ '/layouts/l3/' | prepend: site.baseurl }}" class="btn btn-secondary btn-lg btn-block btn-3-line">
						<span>Pet Ownership</span>
					</a>
				</p>
			</div>
			<div class="col-sm-4 col-md-3">
				<p>
					<a href="{{ '/layouts/l3/' | prepend: site.baseurl }}" class="btn btn-secondary btn-lg btn-block btn-3-line">
						<span>Consumer Protection Agency Locations</span>
					</a>
				</p>
			</div>
		</div>
	</div>
</section>

<section class="container">

	<h4>
		Related News &amp; Events
	</h4>

	{% include carousel.html %}

</section>
