---
layout: default
---

<header id="hc-l3-header" class="jumbotron jumbotron-less-padding">
	<div class="container">
		<div class="row">
			<div class="col-sm-8 col-sm-push-4 col-md-9 col-md-push-3 hc-l3-left-border">
				<h2 class="text-center-xs">{{ page.title }}</h2>
			</div>
			<div class="col-sm-4 col-sm-pull-8 col-md-3 col-md-pull-9">
				<h3 class="h5 text-center">
					<a href="{{ '/layouts/l2/' | prepend: site.baseurl }}">
						<i class="fa fa-fw fa-angle-left"></i>
						{{ page.back }}
					</a>
				</h3>
			</div>
		</div>
	</div>
</header>

<div class="container">

	<div class="row">

		<nav id="hc-l3-left-nav-container" class="col-sm-4 col-md-3 hidden-xs">

			<ul id="hc-l3-left-nav" class="list-unstyled">
				<li><a href="{{ '/layouts/l3/' | prepend: site.baseurl }}">Lorem ipsum dolor sit amet</a></li>
				<li class="active">
					<a href="{{ '/layouts/4b/' | prepend: site.baseurl }}">Nulla volutpat aliquam velit</a>
					<ul class="list-unstyled">
						<li><a href="{{ '/layouts/4b/' | prepend: site.baseurl }}">Phasellus iaculis neque</a></li>
						<li><a href="{{ '/layouts/4b/' | prepend: site.baseurl }}">Purus sodales ultricies Nulla volutpat aliquam velit Nulla volutpat aliquam velit Nulla volutpat aliquam velit</a></li>
						<li class="active"><a href="{{ '/layouts/4b/' | prepend: site.baseurl }}">Vestibulum laoreet porttitor sem</a></li>
						<li><a href="{{ '/layouts/4b/' | prepend: site.baseurl }}">Ac tristique libero volutpat at</a></li>
					</ul>
				</li>
				<li><a href="{{ '/layouts/l3/' | prepend: site.baseurl }}">Faucibus porta lacus fringilla vel</a></li>
				<li><a href="{{ '/layouts/l3/' | prepend: site.baseurl }}">Eget porttitor lorem</a></li>
			</ul>

		</nav>

		<div class="col-sm-8 col-md-9">
			{{ content }}
		</div>
	</div>
</div>
