---
layout: default
---

<header id="hc-l3-header" class="jumbotron">
	<div class="container">
		<div class="row">
			<div class="col-sm-8 col-sm-push-4 col-md-9 col-md-push-3">
				<h2 class="text-center-xs">{{ page.title }}</h2>
			</div>
			<div class="col-sm-4 col-sm-pull-8 col-md-3 col-md-pull-9">
				<h3 class="text-center">
					<a href="#">
						<i class="fa fa-fw fa-chevron-left"></i>
						{{ page.back }}
					</a>
				</h3>
			</div>
		</div>
	</div>
</header>

<div class="container">

	<div class="row">

		<nav id="hc-l3-left-nav-container" class="col-sm-4 col-md-3 hidden-xs">

			<ul id="hc-l3-left-nav" class="list-unstyled">
				<li><a href="#">Lorem ipsum dolor sit amet</a></li>
				<li class="active">
					<a href="#">Nulla volutpat aliquam velit</a>
					<ul class="list-unstyled">
						<li><a href="#">Phasellus iaculis neque</a></li>
						<li><a href="#">Purus sodales ultricies Nulla volutpat aliquam velit Nulla volutpat aliquam velit Nulla volutpat aliquam velit</a></li>
						<li><a href="#">Vestibulum laoreet porttitor sem</a></li>
						<li><a href="#">Ac tristique libero volutpat at</a></li>
					</ul>
				</li>
				<li><a href="#">Faucibus porta lacus fringilla vel</a></li>
				<li><a href="#">Eget porttitor lorem</a></li>
			</ul>

		</nav>

		<div class="col-sm-8 col-md-9">
			<div class="hc-rte-content">
				{{ content }}
			</div>
		</div>
	</div>
</div>
