---
layout: default
---

<header id="hc-home-header" class="jumbotron hc-jumbotron-tabs">
	<div class="container">
		<h1 class="">{{ page.title }}</h1>
		{{ content }}
	</div>

	<div class="container">
		<section class="tabs-split-page">
			<!-- Nav tabs -->
			<ul class="nav nav-tabs nav-justified hc-nav-tabs">
				<li class="active"><a href="#default">News</a></li>
				<li><a href="#secondary">Calendar</a></li>
			</ul>
		</section>
	</div>
</header>

<section class="container">

	{% include carousel.html %}

	<p class="text-center">
		<a href="#" class="btn btn-lg btn-primary">Visit Newsroom</a>
	</p>

</section>

<section id="hc-home-featured-links" class="jumbotron">
	<div class="container text-center">
		<h4>
			Featured Links
		</h4>
		<ul class="nav nav-pills nav-stacked">
			<li><a href="#">xdtcfyv</a></li>
			<li><a href="#">xdtcfyv</a></li>
			<li><a href="#">xdtcfyv</a></li>
			<li><a href="#">xdtcfyv</a></li>
			<li><a href="#">xdtcfyv</a></li>
			<li><a href="#">xdtcfyv</a></li>
			<li><a href="#">xdtcfyv</a></li>
			<li><a href="#">xdtcfyv</a></li>
			<li><a href="#">xdtcfyv</a></li>
		</ul>
	</div>
</section>

<section id="map-container">
	<div id="btn-map-overlays" class="panel-group">
		<div class="panel panel-default">
			<a class="panel-heading" role="button" data-toggle="collapse" data-parent="#btn-map-overlays" href="#map-overlays" aria-expanded="true" aria-controls="map-overlays">
				<i class="fa fa-chevron-down pull-right text-primary"></i>
				<i class="fa fa-map-marker fa-fw"></i> Select Map Overlays
			</a>
			<div id="map-overlays" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
				<div id="map-overlay-toggles" class=""></div>
			</div>
		</div>
	</div>
	<div id="home-map"></div>
</section>
