---
layout: default
---

<header id="hc-home-header" class="jumbotron hc-jumbotron-tabs">
	<div class="container">
		<h1 class="text-center-xs">{{ page.title }}</h1>
		{{ content }}
	</div>

	<div class="container">
		<section class="tabs-split-page">
			<!-- Nav tabs -->
			<ul class="nav nav-tabs nav-justified hc-nav-tabs">
				<li class="active"><a href="#default">News</a></li>
				<li><a href="#secondary">Calendar</a></li>
			</ul>
		</section>
	</div>
</header>

<section class="container">

	{% include carousel.html %}

	<p class="text-center">
		<a href="#" class="btn btn-lg btn-primary">Visit Newsroom</a>
	</p>

</section>

<section id="hc-home-featured-links" class="jumbotron">
	<div class="container text-center">
		<h4>
			Featured Links
		</h4>
		<ul class="nav nav-pills nav-stacked">
			<li><a href="#">xdtcfyv</a></li>
			<li><a href="#">xdtcfyv</a></li>
			<li><a href="#">xdtcfyv</a></li>
			<li><a href="#">xdtcfyv</a></li>
			<li><a href="#">xdtcfyv</a></li>
			<li><a href="#">xdtcfyv</a></li>
			<li><a href="#">xdtcfyv</a></li>
			<li><a href="#">xdtcfyv</a></li>
			<li><a href="#">xdtcfyv</a></li>
		</ul>
	</div>
</section>

<section id="map-container">
	<div id="home-map"></div>
	<button id="btn-map-overlays" type="button" class="btn btn-xs btn-default" data-toggle="modal" data-target=".bs-example-modal-lg">
		<i class="fa fa-map-marker fa-fw"></i> Map Overlays
	</button>
	<!-- modal -->
	<div id="modal-settings" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
		<div class="modal-dialog modal-sm">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<h4 class="modal-title" id="myModalLabel">Map Overlays</h4>
				</div>
				<nav id="nav-mapbox" class='nav-mapbox list-group'></nav>
				<!-- <div class="modal-body"></div> -->
			</div>
		</div>
	</div>
</section>
