---
layout: default
---

<header id="hc-home-header" class="jumbotron hc-jumbotron-tabs">
	<div class="container">
		<h1 class="text-center-xs">{{ page.title }}</h1>
		{{ content }}
	</div>

	<div class="container">
		<section class="tabs-split-page">
			<!-- Nav tabs -->
			<ul class="nav nav-tabs nav-justified hc-nav-tabs">
				<li class="active"><a href="#default">News</a></li>
				<li><a href="#secondary">Calendar</a></li>
			</ul>
		</section>
	</div>
</header>

<section class="container">

	{% include carousel.html %}

	<p class="text-center">
		<a href="#" class="btn btn-lg btn-primary">Visit Newsroom</a>
	</p>

</section>

<section class="jumbotron">
	<div class="container text-center">
		<h4>
			Featured Links
		</h4>
		<ul class="nav nav-pills nav-stacked">
			<li><a href="#">xdtcfyv</a></li>
			<li><a href="#">xdtcfyv</a></li>
			<li><a href="#">xdtcfyv</a></li>
		</ul>
	</div>
</section>

<section class="text-center">
	<div class="well well-lg">
		map
	</div>
</section>
