---
layout: default
---

<header class="jumbotron jumbotron-sm">
	<div class="container">
		<h2 class="">{{ page.title }}</h2>
	</div>
</header>


<section class="container">
	<div class="row">
		<div class="col-md-7 col-lg-8">
			{{ content }}
		</div>
		<div class="col-md-5 col-lg-4">
			<div class="row">
				<div class="col-md-12 col-sm-6">
					<section id="hc-newsroom-banner" class="well">
						<div class="text-white text-shadowed">
							<h3 class="text-white text-shadowed">Hillsborough Television</h3>
							<p>
								Watch Live streaming meetings, view previous meetings, and order DVD copies.
							</p>
						</div>
						<p>
							<a href="#" class="btn btn-block btn-primary">Watch Live</a>
						</p>
						<p>
							<a href="#" class="btn btn-block btn-primary">On Demand</a>
						</p>
						<p>
							<a href="#" class="btn btn-block btn-primary-inverse">Schedule</a>
						</p>
						<p>
							<a href="#" class="btn btn-block btn-primary-inverse">More</a>
						</p>
					</section>
				</div>
				<div class="col-md-12 col-sm-6">
					<section>
						<a class="twitter-timeline" data-height="600" href="https://twitter.com/HillsboroughFL">Tweets by HillsboroughFL</a> <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
					</section>
				</div>
			</div>
		</div>
	</div>
</section>
