---
layout: default
---

<header class="jumbotron jumbotron-sm">
	<div class="container">
		<h2 class="">{{ page.title }}</h2>
		{{ content }}
	</div>
</header>

<section class="container">
	<div class="row">
		<div class="col-sm-4 col-sm-offset-4">
			<h4 class="text-center">
				Featured Stories
			</h4>
		</div>
		<div class="col-sm-4">
			<h5 class="text-right text-center-xs">
				<a href="#" class="text-primary">News Archives <small><i class="fa fa-fw fa-chevron-right text-primary"></i></small></a>
			</h5>
		</div>
	</div>
	{% include carousel.html %}
</section>

<div class="jumbotron jumbotron-hc-tabs-empty"></div>

<section class="container">
	<div class="hc-nav-tabs hc-nav-tabs-no-margin">
		<ul class="nav nav-tabs nav-justified">
			<li class="active"><a href="#default">HTV</a></li>
			<li><a href="#secondary">Media Center</a></li>
		</ul>
	</div>
</section>

<section id="hc-newsroom-banner" class="jumbotron jumbotron-hc-tabs">
	<div class="container">
		<div class="text-white text-shadowed">
			<h2>Hillsborough Television</h2>
			<p>
				Watch Live streaming meetings, view previous meetings, and order DVD copies.
			</p>
		</div>
		<p>
			<a href="#" class="btn btn-primary">Watch Live</a>
			<a href="#" class="btn btn-primary">On Demand</a>
			<a href="#" class="btn btn-primary-inverse">Schedule</a>
			<a href="#" class="btn btn-primary-inverse">More</a>
		</p>
	</div>
</section>

<section>
	<div class="" style="display: inline-block; float: left; width: 50%; padding:15px;">
		<h5>
			Visit our YouTube Channel to watch:
		</h5>
		<ul>
			<li></li>
			<li></li>
		</ul>
	</div>
	<div class="" style="display: inline-block; float: left; width: 50%; padding:15px; background: #78ccd2;">
		<h4 class="text-center text-info">
			Live County Roof Cam
		</h4>
		<p>
			<a href="#" class="btn btn-primary-inverse btn-md btn-block">Watch Roof Cam</a>
		</p>
	</div>
	<span class="clearfix"></span>
</section>
